process {
   withName:fastqc{
       container = 'docker://staphb/fastqc:0.11.9'
   }
   withName:humanscrubber{
       container = 'docker://ncbi/sra-human-scrubber:1.1.2021-05-05'
   }
   withName:trimmomatic{
       container = 'docker://staphb/trimmomatic:0.39'
   }
   withName:bbduk{
       container = 'docker://staphb/bbtools:38.76'
   }
   withName:fastqc_clean{
       container = 'docker://staphb/fastqc:0.11.9'
   }
   withName:multiqc{
       container = 'docker://staphb/multiqc:1.8'
   }
   withName:frag_bwa{
       container = 'docker://staphb/bwa:0.7.17'
   }
   withName:frag_samtools{
       container = 'docker://staphb/samtools:1.12'
   }
   withName:primer_trim_ivar{
       container = 'docker://staphb/ivar'
   }
   withName:primer_trim_samtools{
       container = 'docker://staphb/samtools:1.12'
   }
   withName:assembly{
       container = 'docker://staphb/ivar:1.3.2'
   }
}